<!DOCTYPE html>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <span class="navbar-brand">Baby on Board</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- VIDEO -->
  <div>
    <img class = "rounded mx-auto d-block video-size" src="assets/img/video.jpeg" vspace="5%">
  </div>

  <div class="row h-100 justify-content-center">
      <div class="content col-md-3 mx-auto">
      <div class="card card-color rounded">
        <div class="card-icon">
          <img  src="assets/img/icone_heart.png" class="icon_size">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{results_h}}</h4>
        </div>
      </div>
    </div>
    <div class="content col-md-3 mx-auto">
      <div class="card card-color rounded">
        <div class="card-icon">
          <img  src="assets/img/icone_temperature.png" class="icon_size">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{results_t}}</h4>
        </div>
      </div>
    </div>
    <div class="content col-md-3 mx-auto">
      <div class="card card-color rounded">
        <div class="card-icon">
          <img src="assets/img/icone_breathing.png" class="icon_size">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{results_b}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>


  <img src="assets/img/logo.png" class="fixo-baixo">

  <!-- div class="row">
      <div class="col-4 mx-auto text-center"> //isso era pra "CENtralizar "
          <img src="assets/img/logo.png" class="fixed-bottom" width= "50%" vspace="10%">
      </div>
  </div -->
