<!DOCTYPE html>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <span class="navbar-brand">Baby on Board</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- VIDEO -->
  <div>
    <img class="rounded mx-auto d-block video-size" style="-webkit-user-select: none;" src="http://189.61.55.39:48461/" vspace="5%">
    <!--MUDAR O SRC PARA LOCALHOST:PORTA QUANDO FOR PARA A RASP-->
  </div>

<!-- INFORMAÇÕES -->
  <div class="bd-example">
    <div class="card-deck">
      <div class="card card-color rounded">
        <div class="card-icon">
          <img  src="assets/img/icone_heart.png" class="icon_size">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{results_h}}</h4>
        </div>
      </div>
      <div class="card card-color rounded">
        <div class="card-icon">
          <img  src="assets/img/icone_temperature.png" class="icon_size">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{results_t}}</h4>
        </div>
      </div>
      <div class="card card-color rounded">
        <div class="card-icon">
          <img  src="assets/img/icone_breathing.png" class="icon_size">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{results_b}}</h4>
        </div>
      </div>
    </div>
  </div>

<!-- MOVIMENTOS -->
  <div class="bd-example">
    <div class="card-deck-clicable">
      <div class="card card-color rounded button-like" data-toggle="modal">
        <div class="card-icon">
            <img  src="assets/img/icone_moving_crib.png" class="icon_size">
        </div>
        <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_X.png">
      </div>
      <div class="card card-color rounded button-like">
        <div class="card-icon">
          <img  src="assets/img/icone_moving_crib.png" class="icon_size">
        </div>
        <img class="card-img mx-auto d-block crib-size" src="assets/img/icone_moving_crib_Z.png">
      </div>
      <div class="card card-color rounded button-like">
        <div class="card-icon">
          <img  src="assets/img/icone_moving_crib.png" class="icon_size">
        </div>
        <img class="card-img mx-auto d-block crib-size-exception" src="assets/img/icone_moving_crib_vibrate.png">
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ninar berço!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">Quantos Minutos?</label>
              <input type="text" id="minutes" class="form-control " name="minutes" [(ngModel)]="query" (ngSubmit)="this.onSubmit(query)" (keyup.enter)="this.onSubmit(query)">
              <button type="submit" class="btn btn-primary" (click)="this.onSubmit(query)" data-dismiss="modal">Ninar!</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- (ngSubmit)="onSubmit()" -->



  <img src="assets/img/logo.png" class="fixo-baixo">
